@charset "utf-8";

@import 'reset.css';

/* 공통 */
.hidden {
	display: hidden;
}

.flex-wrap {
	display: flex;
}

input[type="date"].date {
	border-bottom: 1px solid #111;
}

input[type="submit"] {
	background: #0074d9
}

.loginList {
	display: flex;
}

/* header */
nav {
	background-color: #333; /* 네비게이션 바 배경색 */
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	float: left;
	width: 150px;
	height: 60px;
}

nav a {
	display: flex;
	color: #fff;
	text-align: center;
	padding: 14px 16px; /* 링크 내부 여백 */
	text-decoration: none;
	height: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

nav a:hover {
	text-decoration: underline;
	color: #fff; /* 링크 텍스트 색상 변경 */
}

nav ul ul {
	display: none; /* 하위 메뉴 숨김 */
	position: absolute; /* 절대 위치 지정 */
	top: 60px; /* 부모 요소 아래에 배치 */
	z-index: 1;
}

nav ul li:hover>ul {
	display: inherit; /* 부모 항목에 마우스 오버 시 하위 메뉴 표시 */
}

nav ul ul li {
	float: none; /* 하위 메뉴를 좌측 정렬 */
	position: relative; /* 상대 위치 지정 */
	background: #111;
}

nav ul ul ul {
	position: absolute;
	left: 100%; /* 하위 하위 메뉴를 오른쪽으로 이동 */
	top: 0;
}

.container {
	margin-top: 20px;
}

.main-breadcrumb {
	display: none;
}

/************************************
************** header ***************
*************************************/
header {
	margin-bottom: 10px;
}

.search-wrap {
	display: flex;
	align-items: center;
	gap: 10px;
}

.search-all-wrap {
	position: relative;
}

.search-form-wrap {
	width: 100%;
}

.search-input {
	width: 100%;
	height: 50px;
	font-size: 28px;
}

#search-select {
	height: 50px;
	width: 120px;
}

input[type="submit"].search-btn {
	background: url("/project1/resource/img/ico-search.png") no-repeat
		center/contain;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0;
	border: 0;
	cursor: pointer;
	font-size: 0;
}

.submit-wrap {
	position: relative;
	width: 30px;
	height: 30px;
}

.submit-wrap input[type="submit"].search-btn {
	top: 0;
	left: 5px;
}

.input-row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	width: 100%;
	min-height: 38px;
}

.input-row .row-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-row .row-mobile .form-input-group {
	width: 200px;
}

.input-row .form-input-group {
	height: 38px;
	border-radius: 4px;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.input-row .form-input-group .square-radio-group {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 0 4px 4px 0;
}

.input-row .form-input-group .square-radio-group a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 100%;
	border: 1px solid #bcbfc7;
	margin-left: -1px;
	position: relative;
	cursor: pointer;
}

.input-row .form-input-group .square-radio-group a:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border: solid 1px #111;
	transition: 0.1s linear;
	z-index: 10;
}

#date-search-form {
	display: none;
}

/************************************
************** main ***************
*************************************/
.main_box {
	width: 100%;
	display: flex;
}

.main_box .left_box {
	background: blue;
	width: 100%;
	height: 1000px;
	flex: 3;
}
.main_box .left_box .hot_topic{
	background: pink;
	width: 100%;
	height: 700px;
	
}
.main_box .left_box .main_list{
	background: orange;
	width: 100%;
	height: 300px;
	
}
.main_box .right_box {
	background: green;
	width: 100%;
	height: 1000px;
	flex: 1;
}
.main_box .right_box .jn_bookmark{
	background: gold;
	width: 100%;
	height: 500px;
}
.main_box .right_box .press_bookmark{
	background: yellow;
	width: 100%;
	height: 500px;
}

/* main-list */
.list-card{
	display:flex;
	justify-content:space-between;
	}
.list-card .cont-box{width:19%;}
/************** hotTopic ***************/

.title-box{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:10px;
	padding-top:10px;
	}
.topic-card{
	display:flex;
	margin-bottom: 10px;

	}
.topic-only{flex:1;}
.topic-box{flex:1;}
.cont-box p, .topic-box p{text-align:right;}


/* common */
.main-card{
	padding:10px;
}
.cont-title{font-size:22px;}
.card{
	padding:10px;
	border:1px solid #ddd;
	border-radius:14px;
	background:#fff;
}
.title-box .title{
	font-size:24px;
	font-weight:bold;
	
}

/************************************
************** footer ***************
*************************************/
footer {
	height: 100px;
	background: #111;
	color: #fff;
}